* {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: "Fontdiner Swanky", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 10px;
}

p {
    margin-bottom: 5px;
}

a {
    text-decoration: none;
}

a:hover {
    color: red;
}


#subtitulo {
    color: green;
}
#subtitulo {
    color: white;
}


header p {
    font-style: italic;
    font-size: 2rem;
    color: blue;
}


header {
    border-bottom: 1px solid black;
    background-image: url("https://wallpapers.com/images/hd/best-food-background-lntj16v4sij5mvg5.jpg");
    height: 300px;
    background-size: cover;
    background-position: center top;
    color: yellow;
    padding: 50px;
    font-size: 1.5rem;
    text-shadow: 2px 2px 0 blue, 4px 4px 0 red, 6px 6px 0 green;
}


